/* beautiful blockquotes */



/* https://github.com/gnab/remark/issues/305#issuecomment-403309989 */

h1 {
  text-align: center;
}





/* https://stackoverflow.com/a/51641695/4139249 */
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

blockquote::before {
  content: open-quote;
  /* margin-right: 5px; */
  font-size: 1.2em;
}

blockquote {
  /* border-left: 0.3em solid #ccc; */
  padding: 0 15px;
  font-style:italic;
  color: #ccc;
  quotes: "\201C" "\201D" "\2018" "\2019";
}


blockquote::after {
  content: close-quote;
  /* margin-left: 5px; */
  font-size: 1.2em;
}

.reveal .special h1,
.reveal .special h2,
.reveal .special h3,
.reveal .special h4 {
  text-shadow: 4px 4px #090909;
}

.code-snippet {
  font-family: Consolas, monospace;
  font-size: x-large;
  text-align: left;
}

.highlight {
  color: orange
}


/* creates xaringan pull-righta and pull left classes */

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-center {
  float: left;
  margin: 0 15% 0 15%;
}

/* makes all images scale to 100% */

img {
  width: 100%;
}

/* just for the header (currently unused) */

.xx-large {
  font-size: xx-large;
}

.x-large {
  font-size: x-large;
}

.large {
  font-size: large;
}


.headercol {
  width: 33.33%;
}

.leftc {
  float: left
}

.rightc {
  float: right;
  text-align: right;
  padding-right: 20px;
}

.centerc {
  margin: 0 auto
}

/* for the title slide */

.titleslide {
  background: linear-gradient(to bottom, gray 0%, gray 55%, white 55%, white 100%);
}

.title-header {
  position: absolute;
}

.title-bottom {
  bottom: 5%;
}

.footnote {
  height: var(--slide-height);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.footnote> :first-child {
  position: absolute !important;
  font-size: large;

}

:root {
  --blur: 5px;
}

.sepia .slide-background-content {
  filter: sepia()
}


.blurred .slide-background-content {
  filter: blur(var(--blur))
}

/* styling the tables manually */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: smaller;
}

th,
td {
  padding: 5px;
}

tr.pause {
  background-color: orange;
}


.inline-block-children>div {
  display: inline;
}

/* for nice borders around images */
/* https://www.w3schools.com/csS/css3_shadows_box.asp */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


.fragment.geodataframe,
.fragment.geoseries,
.fragment.geometry {
  visibility: visible !important;
  opacity: 1 !important;
}

.fragment.geodataframe.current-fragment {
  padding: 10px;
  outline: 3px solid green;
  outline-offset: 4px;
}



/* or .fragment.geoseries.visible */
.fragment.geoseries.current-fragment {
  outline: 3px solid red;
  outline-offset: 4px;
  font-size: larger;

  /* padding: 10px; */
}


.fragment.geometry.current-fragment {
  outline: 5px solid #8eaadd;
  outline-offset: 4px;
  font-size: larger;

  /* padding: 4px; */
  /* margin:5px; */

}

.mytable {
  /* style="display: grid; font-size: x-large; column-gap: 20px;" */
  display: grid;
  font-size: x-large;
}


.white-padded {
  width: 50%;
  padding: 20px;
  background-color: white;
}

.mytable>div> :nth-child(odd) {
  background-color: gray;
}

.mytable>div> :first-child {
  background-color: white;
  color: black;
  font-weight: bold;
}


.index-slide>a>div {
  background-color: bisque;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: x-large;
  text-shadow: 2px 2px #959393;
  color: rgb(49, 46, 42);
  font-weight: bold;
}

.simple-feature-table {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 5px;
  font-size: x-large;
  justify-content: start;
}


.simple-feature-table>div {
  background-color: #9ca7ba;
  text-align: left;
  padding: 5px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

/* .simple-feature-table > div.sf-tbl-header{
  background: none;
} */


.simple-feature-table>div:nth-child(3n+2) {
  /* background-color: red; */
  text-align: center;
  align-self: flex-start;
  justify-content: center;
}

.simple-feature-table>div:nth-child(3n+3) {
  /* background-color: red; */
  font-family: monospace;
  font-size: large;
}

.simple-feature-table>div>img {
  width: 80px;
  margin: 0px;
  padding: 0px;
}