/* beautiful blockquotes */

/* https://github.com/gnab/remark/issues/305#issuecomment-403309989 */

h1 {
  text-align: center;
}




/* https://stackoverflow.com/a/51641695/4139249 */
kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size: large;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

blockquote::before {
  content: open-quote;
  margin-right: 5px;
  font-size: 1.2em;
}

blockquote {
  border-left: 0.3em solid #ccc;
  padding: 0 15px;
  font-style: italic;
  color: #ccc;
  quotes: "\201C""\201D""\2018""\2019";
}

.reveal .special h1, .reveal .special h2, .reveal .special h3, .reveal .special h4 {
  text-shadow: 4px 4px #090909;
}

.code-snippet{
  font-family: Consolas, monospace; 
  font-size: x-large;
  text-align: left;
}

.highlight{
  color: orange
}

blockquote::after {
  content: close-quote;
  margin-left: 5px;
  font-size: 1.2em;
}

/* creates xaringan pull-righta and pull left classes */

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-center {
  float: left;
  margin: 0 15% 0 15%;
}

/* makes all images scale to 100% */

img {
  width: 100%;
}

/* just for the header (currently unused) */



.headercol {
  width: 33.33%;
}

.leftc {
  float: left
}

.rightc {
  float: right;
  text-align: right;
  padding-right: 20px;
}

.centerc {
  margin: 0 auto
}

/* for the title slide */

.titleslide {
  background: linear-gradient(to bottom, gray 0%, gray 55%, white 55%, white 100%);
}

.title-header {
  position: absolute;
}

.title-bottom {
  bottom: 5%;
}

/* this style is for the repeated "topics of the day" part */

.first #first, 
.second #second, 
.third #third, 
.fourth #fourth, 
.fifth #fifth, 
.sixth #sixth, 
.seventh #seventh, 
.eighth #eighth, 
.nineth #nineth, 
.tenth #tenth {
  color: hotpink;
}

.footnote{
  height: var(--slide-height);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.footnote > :first-child {
  position: absolute !important;
  font-size: large;
  
}



/* .footer{
  visibility: hidden;
} */

:root {
  --blur: 5px;
}

.sepia .slide-background-content{
  filter: sepia()
}


.blurred .slide-background-content {
  filter: blur(var(--blur))
}

/* styling the tables manually */
table {
  border-collapse: collapse;
  width: 100%;
  font-size: smaller;
}

th, td {
  padding: 5px;
}

tr.pause {
  background-color: orange;
}


/* for nice borders around images */
/* https://www.w3schools.com/csS/css3_shadows_box.asp */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


