<!DOCTYPE html>
<html>

<head>
  <title>Coding in GIS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/mystyle.css">
  <style>
    @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
    @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

    body {
      font-family: 'Droid Serif';
    }

    h1,
    h2,
    h3 {
      font-family: 'Yanone Kaffeesatz';
      font-weight: normal;
    }

    .remark-code,
    .remark-inline-code {
      font-family: 'Ubuntu Mono';
    }
  </style>
</head>

<body>
  <textarea id="source">
class: titleslide
layout: false

<h3 class = "title-header" style = "top: 20%;"> 
  BSc Umweltingenieurwesen<br> Angewandte Geoinformatik | HS21
</h3>

<h1 class = "title-header" style = "top: 40%;">Coding in GIS I - III</h1>

<div class = "title-header title-bottom" style = "width: 20%">
  <img src="img/zhaw_rgb_byline_d.png" width = 100%> 
</div>
<div class = "title-header title-bottom" style = "left: 40%; width: 47%;">
  Nils Ratnaweera<br>
  Forschungsgruppe Geoinformatik<br>
  <br>
  Institut für Umwelt und Natürliche Ressourcen	<br>
  ZHAW Zürcher Hochschule für Angewandte Wissenschaften<br>
  Grüental, Postfach, CH-8820 Wädenswil<br>
  <br>
  rata@zhaw.ch
</div>
---
{{ page.content }}
    </textarea>
  <script src="https://remarkjs.com/downloads/remark-latest.min.js">
  </script>
  <script>
    var slideshow = remark.create({
      highlightSpans: true,
      highlightLines: true,
    });

  </script>

  
</body>

</html>